ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}
h1 a {
	display: inline-block;
	color: black;
}
h1 a:hover {
	text-decoration: none;
	color: black;
}
h2 a, h3 a {
	color: black;
}

h1, h2, h3 {
	font-family: Georgia, Times, serif;
}
p.pubdate {
	font-style: italic;
	font-size: 0.8em;
}
.sidebar h3 {
	font-size: 1em;
	line-height: 1.2em;
	margin-bottom: 0;
}
.sidebar h3 {
	margin-left: 0;
	list-style-type: none;
}
a.cur_tag {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
